<div id="load-panel" class="position-fixed top-0 start-0 w-100 h-100 bg-opacity-50" style="background: rgba(0, 0, 0, 0.5); z-index: 100; opacity: 0; display: none; z-index: 1056">
    <div class="progress-group position-absolute top-50 start-50 translate-middle w-50">
        <div class="progress-group-header align-items-end text-white">
            <div class="spinner-border me-2" role="status"></div>
            <div class="progress-title"></div>
            <div class="progress-porcentage small ms-auto"></div>
        </div>
        <div class="progress-group-bars mt-3">
            <div class="progress progress-thin bg-dark">
                <div class="progress-bar bg-white" role="progressbar" style="width: 0%" aria-valuenow="56" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
        </div>
    </div>

    <div class="finallScreen position-absolute top-50 start-50 translate-middle text-center" style="display: none;">
        <i class="bi bi-exclamation-diamond-fill" style="font-size: 80px; color: #fff"></i><br>
        <h2 class="finallScreen-text text-white fw-bold"></h2>
    </div>
</div>