<div style="min-height: 400px; position: relative;">
    <div id="spinner-table" class="position-absolute start-50 translate-middle-x top-50 translate-middle-y" style="width: fit-content">
        <div class="spinner-border" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
    <div class="w-100 d-none overflow-x-auto" id="container-table">
        <table class="display w-100" id="reservationsTable">
            <thead>
                <tr>
                    <th scope="col" class="table-header"></th>
                    <th scope="col" class="scope-table">Fecha</th>
                    <th scope="col" class="table-header">Confirmación</th>
                    <th scope="col" class="table-header">Cliente</th>
                    <th scope="col" class="table-header">Celular</th>
                    <th scope="col" class="table-header">Transporte</th>
                    <th scope="col" class="table-header">Adulto</th>
                    <th scope="col" class="table-header">Menor</th>
                    <th scope="col" class="table-header">Usuario</th>
                </tr>
            </thead>
        </table>
    </div>
</div>