@page
@section HeadContent {
    <link rel="stylesheet" href="~/lib/data-table/datatables.min.css" />
    <link rel="stylesheet" href="~/css/table.css" />
}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb ">
        <li class="breadcrumb-item" aria-current="page">Sistema</li>
        <li class="breadcrumb-item active" aria-current="page">Reservaciones</li>
    </ol>
</nav>
<div class="row g-3">
    <div class="col">
        <h1 class="display-6">
            Reservaciones
        </h1>
    </div>
    <div class="col-auto">
        <a class="btn btn-primary position-relative top-50 translate-middle-y" asp-page="./Create">
            <i class="me-1 bi bi-plus-lg"></i> Nueva reservación
        </a>
    </div>
    <div class="col-12">
        <partial name="/Pages/Shared/Components/Reservations/Table.cshtml"/>
    </div>
</div>
<div class="modal fade" id="modalServices" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" id="modal-content">
    </div>
</div>

@section ScriptsContent {
    <script src="~/lib/data-table/datatables.js"></script>
    <script type="module" src="~/js/reservations/table.js"></script>
}