@page
@{
    Layout = null;
    var reserveId = Request.Query["id"];
}
<link rel="stylesheet" href="~/lib/intl-tel-input/intlTelInput.css" />
<form method="post" class="modal-content needs-validation" novalidate>
    <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Reenviar a Whatsapp</h5>
        <button type="button" class="btn-close" data-coreui-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
        <div class="w-100 form-floating">
            <input id="telWhatsapp-reserveID" value="@reserveId" type="hidden">
            <div class="form-control">
                <input id="telWhatsappIn" value="" style="border-color: transparent; outline: none;"  type="tel" placeholder=" " required />
            </div>
            <label for="telWhatsappIn">
                <i class="bi bi-whatsapp text-white rounded-2 me-1 p-1 bi-aspect-ratio" style="background: #25d366; font-size: 10px"></i>
                Envíar a:
            </label>
            <div class="invalid-feedback">
                Ingrese el número de Whatsapp
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <input type="button" class="btn btn-secondary" data-coreui-dismiss="modal" value="Cancelar" />
        <input type="submit" class="btn btn-primary" id="telWhatsappSubmit" value="Envíar" />
    </div>
</form>
<script src="~/lib/intl-tel-input/intlTelInput.min.js"></script>
<script type="module" src="~/js/forms.js" asp-append-version="true"></script>
<script type="module" src="~/js/reservations/SendWhatsapp.js"></script>