body {
    font-size: 16px;
    position: relative;
    min-height: 100%;
    font-family: 'Montserrat', sans-serif;
}

.w-30px{
    width: 30px !important;
}

.sidebar.sidebar-narrow .sidebar-text {
    display: none !important;
}


.dropdown-item.active, .dropdown-item:active{
    background: rgb(0 0 0 / 0.1) !important;
    color: inherit !important
}

.iti__flag {
    display: none !important
}

.iti--inline-dropdown .iti__dropdown-content {
    z-index: 10 !important
}

.mc-calendar {
    z-index: 2000 !important;
}

@media(min-width: 576px) {
    .dropdown-menu {
        opacity: 0;
        transition: all 0.3s
    }

    .dropdown-menu.show {
        margin-top: 0;
        opacity: 1;
    }
}