@page
@{
    Layout = null;
}
<link rel="stylesheet" href="~/lib/intl-tel-input/intlTelInput.css" />
<div class="modal-dialog modal-sm modal-dialog-centered">
    <form method="post" class="needs-validation modal-content" novalidate>
        <div class="modal-header">
            <h5 class="modal-title" id="staticBackdropLabel">Reenviar a Whatsapp</h5>
            <button type="button" class="btn-close" data-coreui-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="w-100 form-floating">
                <div class="form-control">
                    <input id="telWhatsappIn" value="" style="border-color: transparent; outline: none; margin-left: 20px !important" type="tel" placeholder=" " required />
                </div>
                <label for="telWhatsappIn">
                    <i class="bi bi-whatsapp text-white rounded-2 me-1 p-1 bi-aspect-ratio" style="background: #25d366; font-size: 10px; "></i>
                    Envíar a:
                </label>
                <div class="invalid-feedback">
                    Ingrese el número de Whatsapp
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <input type="button" class="btn btn-secondary" data-coreui-dismiss="modal" value="Cancelar" />
            <input type="submit" class="btn btn-primary btn-submit-whats" value="Envíar" />
        </div>
    </form>
</div>