@model dynamic
@using net_coapinoles.Resources.Enums;
@{
    string type = Model.Type switch {
        AlertType.Error => "danger",
        AlertType.Warn => "warning",
        AlertType.Success => "success",
        _ => ""
    };
    string icon = Model.Type switch{
        AlertType.Error => "bi-exclamation-triangle-fill",
        AlertType.Warn => "bi-exclamation-triangle",
        AlertType.Success => "bi-check-circle-fill",
        _ => ""
    };

}
<div class="toast position-absolute end-0 bottom-0 translate-middle-y me-5 border-@(type) show" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-header">
        <i class="bi @icon text-@(type) me-2"></i>

        <strong class="me-auto">@Model.Title</strong>
        <button type="button" class="btn-close" data-coreui-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body">
        @Model.Message
    </div>
</div>
